.navigation {
	border-bottom: 1px black solid;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
}
.navigation ul {
	padding: 0;
	margin: 0;
	display: inline;
}
.navigation li {
	display: inline;
}
.navigation .right {
	float: right;
}

.seperator::after {
	content: "|";
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.tagRoot input {
	width: 100px;
}
.tag {
	user-select: none;
	margin-left: 15px;
}
.flipped .face, .back {
	display: none;
}
.flipped .back {
	display: inline-block;
}
.exchanging span {
	padding: 5px;
	background-color: gray;
}
.exchanging a {
	color: white;
}