<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	    <script src="./match.js"></script>
	    <link rel="stylesheet" type="text/css" href="./match.css" />
	    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>

	<body ng-app="matchApp" ng-controller="tagsCtrl">
		<div class="toolBar">
			<i class="fa fa-plus" ng-click="addTag()"></i>
		</div>
		<div class="tagRoot" ng-repeat="tag in tags" ng-include="'./tag.html'"></div>
    </body>
</html>